<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/post.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/an-old-hope.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="content">
        <div class="header">

            <div class="title-bar">
                <h1 class="title">{{ title }}</h1>
                <h3><a href="../..">home</a></h3>
            </div>
            <h3>{{ author }}<span class="date"> - {{ dateString }}</span></h3>
        </div>
        {{{ content }}}
    </div>
</body>

</html>