<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Social Media Meta Tags --}}
    <meta property="og:title" content="{{ title }} - {{ author }}" />
    <meta property="og:description" content="{{ description }}" />

    {{!-- Twitter Meta Tags --}}
    <meta name="twitter:title" content="{{ title }} - {{ author }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:card" content="summary" />

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../styles/post.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/an-old-hope.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    <title>{{ title }}</title>

    <script async defer data-website-id="4e98cf36-3094-408e-9823-83753df8a12c" src="https://umami.lab.jinay.dev/u.js"></script>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="header">

                <div class="title-bar">
                    <div class="links">

                        <h3><a href="https://jinay.dev/">home</a></h3>
                        <h3><a href="/">blog</a></h3>
                    </div>
                    <h1 class="title">{{ title }}</h1>
                </div>
                <p class="description">{{ description }}</p>
                <h3 class="author">{{ author }}<span class="date"> - {{ dateString }}</span></h3>
            </div>
            {{{ content }}}
        </div>
        <div class="newsletter">
            <h3>Want to stay updated?</h3>
            <p> Hear about my latest adventures in AI, software, and programming</p>
            <form action="https://tinyletter.com/jinay" method="post" target="popupwindow"
                onsubmit="window.open('https://tinyletter.com/jinay', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <p><input type="text" name="email" id="tlemail" placeholder="example@email.com"/></p><input type="hidden" value="1"
                    name="embed" /><input type="submit" value="Subscribe" />
            </form>
        </div>

    </div>
    <footer class="footer">
        <hr />
        <p>Jinay Jain</p>

        <a href="https://jinay.dev">website</a>
        <a href="mailto:hi@jinay.dev">email</a>
        <a href="https://github.com/JinayJain/">github</a>
    </footer>
</body>

</html>
